.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureImg {
  height: 320px;
  width: 320px;
  border-radius: 10%;
  margin-right: 1rem;
}